{varType Wavevision\LinksExamples\DefaultModule\Components\AbsoluteLink\AbsoluteLinkProps $link}
{varType Wavevision\LinksExamples\DefaultModule\Components\AbsoluteLink\AbsoluteLinkProps $module}
{control absoluteLink, $link}
{control absoluteLink, $module}
