{varType Wavevision\LinksExamples\DefaultModule\Components\AbsoluteLink\AbsoluteLinkProps $absoluteLink}
{varType Wavevision\LinksExamples\DefaultModule\Components\Link\LinkProps $link}
{control absoluteLink, $absoluteLink}
<br>
{control link, $link}
